/* frontend/src/index.css */
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Adicione isso para garantir que a rolagem da janela de chat funcione bem */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}